@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-Type {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
}

.searchControl {
  align-self: center;
  height: 37px;
  width: 300px;
  border: 3px solid #dddddd;
  border-radius: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
}

[data-bs-theme="dark"] .searchControl {
  background-color: #495057 !important;
  color: #f8f9fa !important;
  border: 3px solid #6c757d !important;
}

[data-bs-theme="dark"] .searchControl::placeholder {
  color: #f8f9fa !important;
}

[data-bs-theme="dark"] .d-flex {
  color: #f8f9fa !important;
}
